<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="/css/orderAsk.css">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.1-web/css/all.min.css">
</head>

<body>
    <div class="container">

        <!-------------------------------NAVIGATION-------------------------------->

        <div class="navigation">
            <ul>
                <li>
                    <a href="../Dashboard.html">
                        <span class="icon">
                            <i class="fa-solid fa-shop"></i>
                        </span>
                        <div class="title">
                            <span class="title_1">US</span>
                            <span class="title_2">Canteen</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/admin/dashboard">
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-house"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="orderAsk.html">
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-scroll"></i>
                        </span>
                        <span class="title">Orders</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/user">
                        <span class="icon">
                            <i class="fa-solid fa-users"></i>
                        </span>
                        <span class="title">Users</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/income">
                        <span class="icon">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                        </span>
                        <span class="title">Income</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/product">
                        <span class="icon">
                            <i class="fa-solid fa-box-archive"></i>
                        </span>
                        <span class="title">Products</span>
                    </a>
                </li>

                <li>
                    <a href="../Help.html">
                        <span class="icon">
                            <i class="fa-solid fa-question"></i>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-------------------------------MAIN-------------------------------->

        <div class="main">

            <!-------------------------TOP BAR--------------------------->
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div id="topbar-namePage">
                    Export History
                </div>

                <div class="topbar-right">
                    <div class="user">
                        <img src="/img/customer01.jpg" alt="">
                    </div>
                    <div class="user-info">
                        <div id="user-name">Nguyen Van A</div>
                        <div id="user-role">Thu ngan</div>
                    </div>
                    <div class="log-out">
                        <a href="../Login.html">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </a>
                    </div>

                </div>
            </div>
                 <table>
                <thead>
                    <tr>
                        <td>STT</td>
                        <td>Tên hàng</td>
                        <td>Ngày Xuất</td>
                        <td>Số lượng xuất</td>
                    </tr>
                </thead>

                <tbody>
                    
                    {{#each export}}
                        <tr>                           
                            <td><script>document.write({{@index}} + 1)</script></td>
                            <td>{{this.TenHang}}</td>
                            <td>{{this.NgayXuat}}</td>
                            <td>{{this.SoLuongXuat}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <script src="/js/Orders_sub/orderSub.js"></script>
</body>

</html>