<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="/css/Help.css">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.1-web/css/all.min.css">
</head>

<body>

    <div class="container">

        <!-------------------------------NAVIGATION-------------------------------->

        <div class="navigation">
            <ul>
                <li>
                    <a href="/admin/dashboard">
                        <span class="icon">
                            <i class="fa-solid fa-shop"></i>
                        </span>
                        <div class="title">
                            <span class="title_1">US</span>
                            <span class="title_2">Canteen</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/admin/dashboard">
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-house"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/orderAsk">
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-scroll"></i>
                        </span>
                        <span class="title">Orders</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/user">
                        <span class="icon">
                            <i class="fa-solid fa-users"></i>
                        </span>
                        <span class="title">Users</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/income">
                        <span class="icon">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                        </span>
                        <span class="title">Income</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/product">
                        <span class="icon">
                            <i class="fa-solid fa-box-archive"></i>
                        </span>
                        <span class="title">Products</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <i class="fa-solid fa-question"></i>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-------------------------------MAIN-------------------------------->

        <div class="main">

            <!-------------------------TOP BAR--------------------------->
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div id="topbar-namePage">
                    Order
                </div>

                <div class="topbar-right">
                    <div class="user">
                        <img src="/img/customer01.jpg" alt="">
                    </div>
                   
                    <div class="log-out">
                        <a href="/">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </a>
                    </div>

                </div>
            </div>
            <!---------------FAQs---------------->
            <div class="faq">
                <section class="faq-container">
                    <div class="faq-item">
                        <!-- faq question -->
                        <h1 class="faq-page">About Us?</h1>
                        <!-- faq answer -->
                        <div class="faq-body">
                            <p>This website is designed by Group 23 - NMCNPM<br>
                                Group's Members:<br>
                                20120451 - Bui Van Danh<br>
                                19120585 - Nguyen Hai Nhat Minh<br>
                                20120355 - Dinh Minh Quan<br>
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <!-- faq question -->
                        <h1 class="faq-page">Contact Information?</h1>
                        <!-- faq answer -->
                        <div class="faq-body">
                            <p>Contact us at for more information:<br>
                                Email: abcxyz@gmail.com<br>
                                Hotline: 19251043<br>
                            </p>
                        </div>
                    </div>
                    <div class="faq-item">
                        <!-- faq question -->
                        <h1 class="faq-page">What is the purpose of this website?</h1>
                        <!-- faq answer -->
                        <div class="faq-body">
                            <p>This website is designed to help manage the Canteen, following is things that you can do with this website:<br>
                                + See the overall state of Canteen with <strong>Dashboard</strong>.<br>
                                + Manage client's order with <strong>Order</strong>.<br>
                                + Manage your income with <strong>Income</strong>.<br>
                                + Manage import/export state of your products with <strong>Product</strong>.<br>
                                + Provide client with discount by register them as Membership in <strong>User</strong>.<br>
                                And some more useful features!
                            </p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="/js/Help.js"></script>
</body>

</html>