<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/css/Product.css">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.1-web/css/all.min.css">
</head>
<body>
    <div class="container">

        <!-------------------------------NAVIGATION-------------------------------->

        <div class="navigation">
            <ul>
                <li>
                    <a href="Dashboard.html">
                        <span class="icon">
                            <i class="fa-solid fa-shop"></i>
                        </span>
                        <div class="title">
                            <span class="title_1">US</span>
                            <span class="title_2">Canteen</span>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/admin/dashboard">
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-house"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/orderAsk">
                        <span class="icon">
                            <i class="fa-sharp fa-solid fa-scroll"></i>
                        </span>
                        <span class="title">Orders</span>
                    </a>
                </li>

                <li>
                    <a href="User.html">
                        <span class="icon">
                            <i class="fa-solid fa-users"></i>
                        </span>
                        <span class="title">Users</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/income">
                        <span class="icon">
                            <i class="fa-solid fa-hand-holding-dollar"></i>
                        </span>
                        <span class="title">Income</span>
                    </a>
                </li>

                <li>
                    <a href="Product.html">
                        <span class="icon">
                            <i class="fa-solid fa-box-archive"></i>
                        </span>
                        <span class="title">Products</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/help">
                        <span class="icon">
                            <i class="fa-solid fa-question"></i>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>
            </ul>
        </div>

        <!----------------------------------- MAIN ----------------------------------->

        <div class="main">

            <!-------------------------TOP BAR--------------------------->
            <div class="topbar">
                <div class="toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div id="topbar-namePage">
                    Product
                </div>

                <div class="topbar-right">
                    <div class="user">
                        <img src="/img/customer01.jpg" alt="">  
                    </div>
                    
                    <div class="log-out">
                        <a href="Login.html">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </a>
                    </div>
                    
                </div> 
            </div>

            <!------------------------- PRODUCT --------------------------->

            <!------------------- PRODUCT - TAB ---------------------->
            <div class="tab">
                <button class="tablinks active">Import Products</button>
                <button class="tablinks">Export Products</button>
                
            </div>
               
            <!------------------- PRODUCT - IMPORT ------------------->
            <div id="product-import" class="import-container tabcontent">
                <div class="title">Import Products</div>
                <div class="content">
                  <form action="/admin/import" method="post">
        
                    <div class="product-details">
                        <div class="input-box">
                            <span class="details">Product ID</span>
                            <input name="id" type="text" placeholder="Product ID" required>
                          </div>
                      <div class="input-box">
                        <span class="details">Product Name</span>
                        <input name="name" type="text" placeholder="Product Name" required>
                      </div>
                      <div class="input-box">
                        <span class="details">Import Quantity</span>
                        <input name="soluong" type="text" placeholder="Import Quantity" required>
                      </div>
                      
                    </div>
                    <div class="button">
                      <input type="submit" value="Import product">
                    </div>
                  </form>
                  <p style="color: red; font-size: 16px;">{{status}}</p>
                </div>
                <a href="/admin/importHistory">Xem lịch sử nhập</a>
            </div>

            <!------------------- PRODUCT - EXPORT ------------------->

            <div id="product-export" class="export-container tabcontent">
                <div class="title">Export Products</div>
                <div class="content">
                    <form action="/admin/export" method="post">
        
                        <div class="product-details">
                            <div class="input-box">
                                <span class="details">Product ID</span>
                                <input name="id" type="text" placeholder="Product ID" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Product Name</span>
                                <input name="name" type="text" placeholder="Product Name" required>
                            </div>
                            <div class="input-box">
                                <span class="details">Export Quantity</span>
                                <input name="soluong" type="text" placeholder="Export Quantity" required>
                            </div>
                        </div>
                        <div class="button">
                            <input type="submit" value="Export product">
                        </div>
                    </form>
                          <p style="color: red; font-size: 16px;">{{status}}</p>
                </div>
                <a href="/admin/exportHistory">Xem lịch sử xuất</a>
            </div>

              
        </div>
    </div>
    <script src="/js/Product.js"></script>
</body>
</html>