@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --blue: #090E87;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* ------------------------ Navigation ------------------------*/
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--white);
  border-left: 10px solid var(--white);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}


.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--blue);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li:nth-child(1) a {
  display: flex;
  align-items: center;
}

.navigation ul li:nth-child(1) a .title {
  padding-top: 10px;
}

.navigation ul li:nth-child(1) .title_2 {
  color: #F55959;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--blue);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--white);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon i {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* ------------------------ Main ------------------------*/

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
  border-left: 1px solid var(--blue);
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
  background-color: #090E87;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

#topbar-namePage {
  position: relative;
  color: white;
  width: auto;
  height: auto;
  margin: auto auto;
  font-size: 1.8rem;
}


.topbar-right {
  flex-basis: 20%;
  display: flex;
  align-self: center;
  color: white;
  justify-content: left;
  height: 60px;
  align-items: center;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  padding-left: 10px;
  line-height: 24px;
}

.user-info #user-role {
  font-size: 14px;
}

.topbar-right .log-out {
  margin-left: 20px;
}

.topbar-right .log-out a {
  color: white;
}

/*--------------------------ORDER----------------------------*/

.order-ask {
  position: relative;
  background: white;
  width: 500px;
  min-height: 200px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 100px auto;
  border: 1px solid var(--blue);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;

}

.order-ask p {
  font-size: 20px;
}

.selection {
  align-self: flex-end;
}

.selection button {
  padding: 10px 20px;
  border-radius: 5px;
}

.selection button:first-child {
  background-color: white;
  border: 1px solid gray;
}

.selection button:last-child {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: white;
  margin-left: 5px;
  opacity: 0.7;
}

.selection button:first-child:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.selection button:last-child:hover {
  background-color: var(--blue);
  opacity: 1;
  cursor: pointer;
}

/*------------------------------- RESPONSIVE ------------------------------- */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }

  .navigation.active {
    width: 300px;
    left: 0;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    left: 300px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }

  .history-table {
    overflow-x: auto;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardHeader h2 {
    font-size: 20px;
  }

  .user {
    min-width: 40px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle {
    z-index: 10001;
  }

  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}