
/* ---------------------------HEADER-------------------------- */
.header {
    background-color: var(--white-color);
    border-bottom: 1px solid var(--main-color);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header__navbar {
    display: flex;
    padding: 5px 15px;
    margin: 0 180px;
    width:fit-content;
}

.header__navbar-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header__navbar-item,
.header__navbar-item--link{
    font-size: 1.85rem;
    font-weight: 600;
    color: var(--main-color);
    margin-left: 2.2rem;
    display: inline-block;
}

.header__navbar-logo,
.header__navbar-item--link {
    text-decoration: none;
    cursor: pointer;
}

.header__navbar-item--link:hover {
    text-decoration: underline; 
}

@media (max-width: 1028px) {
    .header__navbar {
        margin: 0;
    }
}
/* ---------------------------CONTENT-------------------------- */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin-top: 116px;
}

/* ---------------------------CONTENT - SLIDER-------------------------- */
.content-slider {
    width: 100vw;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width:20%;
    transition: 2s;
}

.slide img {
    width: 100vw;
    height: 500px;
}

.navigation-manual {
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--white-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: var(--white-color);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 460px;
    
}

.navigation-auto div {
    border: 2px solid var(--white-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: var(--white-color);
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: var(--white-color);
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: var(--white-color);
}

/* ---------------------------CONTENT - NAVBAR-------------------------- */

.content-navbar {
    width: 100vw;
    background-color: var(--white-color);
    border-bottom: 1px solid var(--main-color);
    padding: 0 15px;
    display: flex;
    justify-content: center;
    box-shadow:  0px 4px 4px 0px rgba(0,0,0,0.25);
    overflow: hidden;
}

.content-navbar-list {
    list-style-type: none;
    display: flex;   
}

.content-navbar-item {
    padding: 28px 30px;
}

.content-navbar-item,
.content-navbar-item--link {
    text-decoration: none;
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--main-color);
    display: inline-block;
}

.content-navbar-item:hover .content-navbar-item--link { 
    color: var(--white-color);
}

.content-navbar-item:hover {
    background-color: var(--main-color);
}

.active-page {
    background-color: var(--main-color);
    color: var(--white-color);
}

@media screen and (max-width: 900px) {
    .content-navbar-item--link {
        line-height: 25px;
    }
}
/* ---------------------------CONTENT - FOOD-------------------------- */

.content__food {
    width: 100vw;
    height: 774px;
    display: flex;
    flex-direction: row; 
    overflow: hidden;
    padding: 87px 115px;
}

.content__food-left,
.content__food-right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__food-left {
    margin-right: 68px;
}

.content__food-right {
    margin-left: 68px;
}

.content__food-item {
    flex-basis: 50%;
    /*flex-grow: 1;*/
    display: flex;
    flex-direction: row;
}

.food-item__content,
.food-item__img {
    flex-basis: 50%;
}

.food-item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 47px;
    
}

.food-item__content p{
    margin-bottom: 15px;
    font-size: 1.62rem;
    color: var(--main-color)
}

.food-item__content h3{
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 15px;
}

.food-item__content a {
    text-decoration: none;
    padding: 7px 30px;
    border-radius: 30px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    width: fit-content;
    font-size: 1.4rem;
}

.food-item__content a:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}

@media (max-width: 1320px) {
    .food-item__content h3 {
        line-height: 25px;
    }
}

@media screen and (max-width: 1130px) {
    .content__food {
        flex-direction: column; 
        padding: 87px 115px;
        height: auto;
        min-width: 790px;
    }
    .content__food-left {
        margin-right: 0px;
    }
    
    .content__food-right {
        margin-left: 0px;
    }
}

/* ---------------------------FOOTER-------------------------- */

.footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: var(--main-color);
}

.footer-container {
    padding: 84px 15px 20px 15px;
    margin: 0 162px;
    height: auto;
    /* background-color: greenyellow; */
}

/* ---------------------------FOOTER - CONTENT-------------------------- */
.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;  
}

.footer__content-item {
    display: inline-block;
}

.footer__content-item-header,
.footer__content-item-list-row--link {
    color: var(--white-color);
}

.footer__content-item-header {
    display: block;
    letter-spacing: 1px;
    font-size: 1.6rem;
    font-weight: 700;
}

.footer__content-item-list{
    list-style-type: none;
}

.footer__content-item-list-row--link {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    margin-top: 14px;
    opacity: 0.7;
}

.footer__content-item-list-row--link:hover {
    opacity: 1;
}

.footer__responsive {
    display: none;
}

/* ---------------------------FOOTER - RESPONSIVE - CONTENT-------------------------- */

@media screen and (max-width: 1010px) {
    .footer__content {
        display: none;  
    }

    .footer__responsive {
        display: block;
    }
}

.accordion {
    background-color: #090E87;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    opacity: 0.9;
}
  
.panel {
    padding: 0 18px;
    background-color: #090E87;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796";
}

p {
    color: white;
}

.panel .footer__content-item-list-row:last-child {
    margin-bottom: 20px;
}

.footer__content-line {
    border: 1px solid rgb(255,255,255,0.2);
}
/* ---------------------------FOOTER - COPYRIGHT - SOCIAL LINK-------------------------- */
.footer_social-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer__copyright {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 35px;
    color: var(--white-color);
    width: 60%;
}

.footer__social-icon {
    display: flex;
    padding-left: 25px;
    width: 20%;
    align-items: flex-end;
    justify-content: space-around;
}

.social-icon{
    font-size: 24px;
    color: var(--white-color);
    opacity: 0.7;
}

.social-icon:hover {
    opacity: 1;
    cursor: pointer;
}

.social-icon:not(:last-child) {
    margin-right: 13px;
}

.footer_social-line {
    margin: 18px 0;
    border: 1px solid white;
}

@media screen and (max-width: 1010px) {
    .footer_social-link {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__social-icon {
        width: 40%;
        margin-top: 10px;
    }
}

/* ---------------------------FOOTER - INFO-------------------------- */

.footer__info {
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer__info-list {
    list-style-type: none;
}

.footer__info-list-item--link {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    margin-top: 14px;
    opacity: 0.7;
    color: var(--white-color);
}

.footer__info-list-item--link:hover {
    opacity: 1;
}

